<div class="container-fluid" id="landing-page">
  <div class="row">
    <div id="landing-categories">
      <ul class="list-unstyled">
        <li class="landing-category col-md-3 col-sm-12">
          <a href="/music">
            <h1>MUSIC</h1>
          </a>
        </li>
        <li class="landing-category col-md-3 col-sm-12">
          <a href="/documentary">
            <h1>DOCUMENTARY</h1>
          </a>
        </li>
        <li class="landing-category col-md-3 col-sm-12">
          <a class="contact-trigger" href="https://vimeo.com/album/3929950">
            <h1>SCRIPTED</h1>
          </a>
        </li>
        <li class="landing-category col-md-3 col-sm-12">
          <a href="/commercial">
            <h1>COMMERCIAL</h1>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{>scripts}}
  {{>footer}}
</div>
