<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta title="Zesty Productions">
    <meta name="description" content="Zesty is a content driven company built by creative storytellers. We pride ourselves in delivering high production value to our work.">
  	<title>{{title}}</title>

    <!-- Tether, for Bootstrap tooltips -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/css/tether.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- BxSlider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css" media="screen" charset="utf-8">
    <!-- Site Styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/zesty.css">
    <!-- Adobe TypeKit -->
    <script src="https://use.typekit.net/rnt7eda.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
